body{
    color: hsl(233, 26%, 24%);
    font-family: 'Public Sans';
    font-size: 18px;
}
button{
    background: linear-gradient(hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
}
/*Better to do h2 sizing here for consistency and simplicity*/
/*Added h1 as well due to Bootstrap limitations for font sizing
 Scaling on Rem to reflect user base font size settings. Will adjust
 for users with default larger font accessibility settings in browser*/
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.8rem;
    font-weight:normal;
}
/*Area specifics*/
#about{
    
}
#hero-sm-text{
    width: 21vw;
}
#mockup{
    margin-top: -15%;
    margin-right: -21.5%;
}

#hero{
    background-image: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: 45vw;
    background-position-y: -15vw;
    height: 670px;
}
#about-head{
    width: fit-content;
}
#about-preface{
    width: 32vw;
}
.card-img-icon{
    width: 65px;
    height: 65px;
}
footer{
    background-color: hsl(233, 26%, 24%);
    font-family: 'Public Sans';
}