body{
    color: hsl(233, 26%, 24%);
    font-family: 'Public Sans';
    font-size: 18px;
}
button{
    background: linear-gradient(hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
}
footer{
    background-color: hsl(233, 26%, 24%);
    font-family: 'Public Sans';
}
/*Better to do h2 sizing here for consistency and simplicity*/
/*Added h1 as well due to Bootstrap limitations for font sizing
 Scaling on Rem to reflect user base font size settings. Will adjust
 for users with default larger font accessibility settings in browser*/
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.8rem;
    font-weight:normal;
}
/*Specific Background colors and setups*/
#hero-card{
    background-color: transparent;
}
.articles-bg{
    background-color: hsl(0, 0%, 98%);
    margin-top: -3vw;
    height: 37vw;
}
.about-bg{
    background-color: hsl(220, 16%, 96%);
}
.hero-bg{
    background-image: url(images/bg-intro-desktop.svg);
    background-color: hsl(0, 0%, 98%);
    background-repeat: no-repeat;
    background-position-x: 45vw;
    background-position-y: -15vw;
    height: 670px;
}
/*Area Sizing specifics*/
#hero-sm-text{
    width: 21vw;
}
#mockup{
    margin-top: -15%;
    margin-right: -21.5%;
}

#about-head{
    width: fit-content;
}
#about-preface{
    width: 32vw;
}
.card-img-icon{
    width: 65px;
    height: 65px;
}
.card-img-top{
    height: 200px;
}
.card-subtitle{
    font-size: small;
}
.copyright{
    color: hsl(233, 8%, 62%)
}

@media (max-width: 375px){
    .hero-bg{
    background-image: url(images/bg-intro-desktop.svg);
    background-color: hsl(0, 0%, 98%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -90vw;
    background-position-x: -40vw;
    height: auto;
}
    #mockup{
    margin:auto auto;
    margin-top: -29vw;
    height: 100vw;
    width: auto;

}
/*Attempted to change bg color with Bootstrap
on breakpoints, documentation showed no options
to do so. Attempts also failed to do so.*/
    #hero-card{
        background-color: hsl(0, 0%, 98%);
    }
    #hero-title{
        font-size: 2.4rem;
    }
    .card-body{
        width: 100%;
        font-size: 0.9rem;
    }
    #hero-sm-text{
    width: auto;
    }
    #topnav{
       width: inherit;
    }
    #nav-bg{
        padding: 0;
        margin-left: -10vw;
        width:max-content;
    }
}